<div class="flex flex-col gap-5 max-w-3xl">
  <h2 class="text-primary text-6xl -tracking-[.03em]">
    Be Proud Of Your Smile
  </h2>
  <p>
    Seamlessly visualize quality intellectual capital without superior
    collaboration and idea-sharing. Holistically pontificate installed base
    portals after maintainable products.
  </p>
</div>

<div class="flex gap-10">
  <div
    *ngFor="let service of services"
    class="flex flex-col flex-1 items-center"
  >
    <img
      class="mb-10 w-[235px]"
      src="services/{{ service.img }}.png"
      alt="{{ service.name }}"
    />
    <h3 class="text-accent text-3xl mb-2.5">{{ service.name }}</h3>
    <p class="text-center">{{ service.desc }}</p>
  </div>
</div>
