<!-- <div class="max-w-primary">
  <h2
    class="text-primary text-4xl tab:text-5xl md:text-6xl -tracking-[.03em] mb-5"
  >
    Our Clinic
  </h2>
</div> -->
<img
  class="absolute top-0 -scale-x-100"
  src="our-clinic/top-cover.png"
  alt="Top Cover"
/>

<div class="section-padding max-w-primary">
  <h2
    class="text-white mb-8 text-4xl tab:text-5xl md:text-6xl -tracking-[.03em]"
  >
    Our Clinic
  </h2>

  <div
    class="gallery grid gap-0.5 mob:gap-1 sm:gap-2 overflow-hidden rounded-xl"
  >
    <div class="col-span-2 row-span-2">
      <img src="our-clinic/gal-1.jpg" alt="Clinic Image" />
    </div>
    <div class="col-span-3 row-span-3">
      <img src="our-clinic/gal-2.jpg" alt="Clinic Image" />
    </div>
    <div class="row-span-2">
      <img src="our-clinic/gal-3.jpg" alt="Clinic Image" />
    </div>
    <div class="col-span-2 row-span-2">
      <img src="our-clinic/gal-4.jpg" alt="Clinic Image" />
    </div>
    <div class="col-span-2 row-span-3">
      <img src="our-clinic/gal-5.jpg" alt="Clinic Image" />
    </div>
    <div class="col-start-3 col-span-2 row-span-2">
      <img src="our-clinic/gal-6.jpg" alt="Clinic Image" />
    </div>
    <div><img src="our-clinic/gal-7.jpg" alt="Clinic Image" /></div>
    <div class="col-start-6 col-span-2 row-start-3 row-span-2">
      <img src="our-clinic/gal-8.jpg" alt="Clinic Image" />
    </div>
    <div class="col-start-8 row-start-3 row-span-3">
      <img src="our-clinic/gal-9.jpg" alt="Clinic Image" />
    </div>
    <div class="col-start-1 row-span-2">
      <img src="our-clinic/gal-10.jpg" alt="Clinic Image" />
    </div>
    <div class="col-span-2 row-span-2">
      <img src="our-clinic/gal-11.jpg" alt="Clinic Image" />
    </div>
    <div class="row-span-2">
      <img src="our-clinic/gal-12.jpg" alt="Clinic Image" />
    </div>
    <div class="col-start-5 col-span-3 row-start-5 row-span-3">
      <img src="our-clinic/gal-13.jpg" alt="Clinic Image" />
    </div>
    <div class="row-span-2">
      <img src="our-clinic/gal-14.jpg" alt="Clinic Image" />
    </div>
  </div>
</div>

<img
  class="w-full absolute bottom-0"
  src="our-clinic/bottom-cover.png"
  alt="Bottom Cover"
/>
