<img class="absolute" src="footer/bg-footer-top.png" alt="footer background" />

<div class="max-w-primary section-padding flex flex-col items-center">
  <app-logo class="h-52" fullLogo></app-logo>

  <div class="mt-5 mb-8 h-[1px] w-full bg-[#ffffff1a]"></div>

  <div class="grid tab:grid-cols-2 md:grid-cols-4 text-white gap-10">
    <div class="flex flex-col flex-1 gap-5">
      <p>
        Dental Vision is proudly operated by Dr. Vibha Arora, dedicated to
        providing expert, compassionate dental care with a personal touch
      </p>

      <h3 class="text-accent text-xl">24/7 Emergency</h3>

      <div class="flex flex-col gap-2.5">
        <a href="tel:+919418794157" class="flex items-center gap-2">
          <fa-icon class="text-accent" [icon]="faPhone"></fa-icon>+91
          94187-94157
        </a>
      </div>
    </div>

    <div class="flex flex-col flex-1 gap-5">
      <h4 class="text-xl">About DentiCare</h4>

      <div class="flex flex-col gap-1">
        <a
          *ngFor="let link of navLinks"
          class="cursor-pointer hover:underline w-fit"
          href="#{{ link.sectionId }}"
          >{{ link.link }}</a
        >
      </div>
    </div>

    <div class="flex flex-col flex-1">
      <h4 class="text-xl">Our Awards</h4>
    </div>

    <div class="flex flex-col flex-1 gap-5">
      <div class="flex items-baseline gap-1">
        <h4 class="text-xl">Working Hours</h4>
        <span class="text-xs leading-none">(Indian Standard Time)</span>
      </div>

      <div class="flex flex-col gap-2">
        <div
          *ngFor="let workingTiming of workingTimings"
          class="flex text-sm gap-2.5"
        >
          <div class="flex-1">{{ workingTiming.day }}</div>
          <div class="flex-1 opacity-70">{{ workingTiming.timing }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
