<ng-container
  *ngTemplateOutlet="mapEl; context: { classVar: 'hidden md:block' }"
></ng-container>

<div class="flex flex-col">
  <h2
    class="text-primary text-4xl tab:text-5xl md:text-6xl -tracking-[.03em] mb-5"
  >
    Contact Us
  </h2>
  <p class="mb-10">
    Have questions or need to schedule an appointment? Reach out to us today and
    let our friendly team assist you with all your dental care needs.
  </p>

  <ng-container
    *ngTemplateOutlet="mapEl; context: { classVar: 'block md:hidden mb-10' }"
  ></ng-container>

  <div class="flex flex-col gap-10">
    <div
      *ngFor="let info of contactInfo; let isFirst = first"
      class="flex gap-4"
    >
      <span
        class="mb-5 text-5xl p-4 rounded-full transition-all duration-300 bg-[#f3f3f3] text-primary h-fit"
        attr.data-ico-dentist2="{{ info.icon }}"
      ></span>

      <div class="flex flex-col gap-3">
        <h3 class="text-2xl text-primary">
          {{ info.label }}
        </h3>
        <pre class="text-sm text-wrap max-w-72" [innerHTML]="info.data"></pre>
      </div>
    </div>

    <a class="btn btn--primary !bg-primary w-fit" (click)="openCalendly()"
      >Consult With Us</a
    >
  </div>
</div>

<ng-template #mapEl let-classVar="classVar">
  <div class="{{ classVar }} relative aspect-[88/82] md:aspect-auto">
    <img
      class="absolute"
      src="contact-us/map-bg.png"
      alt=" contact us bg"
      (click)="navigateToMap()"
    />
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3379.8307331372775!2d76.30216767636499!3d32.100860118232134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391b4ff4da9877ed%3A0x147b46521578ea0e!2sDental%20Vision%20%2CTanda%20(Dr.%20Vibha%20Arora)!5e0!3m2!1sen!2sin!4v1741422853037!5m2!1sen!2sin"
      class="w-full md:w-[600px] h-full md:h-[571px]"
      style="border: 0"
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</ng-template>
