<div class="flex flex-col flex-1">
  <h3 class="text-accent text-4xl tab:text-5xl md:text-6xl mb-10">
    Kids Oral Care
  </h3>
  <p class="mb-10">
    Gentle and specialized dental care tailored for your little ones. We ensure
    a fun, stress-free experience to keep their smiles bright and healthy from
    the very start.
  </p>

  <ng-container
    *ngTemplateOutlet="kidsImg; context: { classVar: 'block md:hidden mb-10' }"
  ></ng-container>

  <div class="flex flex-col sm:flex-row gap-7">
    <div
      *ngFor="let care of oralCares"
      class="flex flex-col items-center text-center"
    >
      <span
        class="mb-5 text-5xl p-4 border-2 rounded-full transition-all duration-300 text-primary border-[#f80d8a1a] hover:bg-[#f80d8a1a]"
        attr.data-ico-dentist2="{{ care.icon }}"
      ></span>
      <h4 class="text-2xl mb-2.5 text-primary">
        {{ care.label }}
      </h4>
      <p>{{ care.desc }}</p>
    </div>
  </div>
</div>

<ng-container
  *ngTemplateOutlet="kidsImg; context: { classVar: 'hidden md:block' }"
></ng-container>

<ng-template #kidsImg let-classVar="classVar">
  <div class="{{ classVar }} flex-1">
    <img class="w-full" src="kids-care/kids-care.png" alt="kids oral care" />
  </div>
</ng-template>
