:host {
  display: block;
  position: relative;
  background-image: url(../../../../public/primary-bg.jpg);
  background-size: cover;
}

input {
  box-shadow: 1px 1px 3px 1px rgba(34, 34, 34, 0.2);
}
