<img class="absolute" src="testimonials/top-cover.png" alt="bg top cover" />

<section class="section-padding max-w-primary flex flex-col gap-40">
  <div class="flex gap-10">
    <div class="-mt-[125px] z-50">
      <img src="testimonials/tooth-brush.png" alt="tooth brush" />
    </div>

    <div class="flex flex-col">
      <h3 class="text-accent text-6xl mb-5">Get A Quote</h3>
      <p class="text-white">
        Efficiently enable enabled sources and cost effective products.
        Completely synthesize principle-centered information.
      </p>
      <div class="flex gap-2 mt-10">
        <input
          class="flex-1 bg-white rounded-full py-[1.125em] px-[1.563em]"
          type="text"
          placeholder="Enter Something"
        />
        <button class="btn btn--primary h-full">Kindly Click Here</button>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-20">
    <div class="flex flex-col items-center max-w-3xl mx-auto">
      <h3 class="text-accent text-6xl mb-5">Sweet Dental Experience</h3>
      <p class="text-center text-white">
        Completely synthesize principle-centered information after ethical
        communities. Efficiently innovate open-source infrastructures via
        inexpensive materials.
      </p>
    </div>

    <div class="flex gap-20">
      <div
        *ngFor="let testimonial of testimonials"
        class="flex flex-col items-center text-center"
      >
        <img
          class="rounded-full mb-10"
          src="testimonials/{{ testimonial.img }}.jpg"
          alt="{{ testimonial.title }}"
        />

        <h4 class="mb-5 text-2xl text-accent">{{ testimonial.title }}</h4>
        <p class="text-white">{{ testimonial.desc }}</p>
      </div>
    </div>
  </div>

  <button
    class="btn btn--primary w-fit absolute bottom-0 left-1/2 -translate-x-1/2 translate-y-1/2 z-50"
  >
    Book an Appointment
  </button>
</section>

<img
  class="absolute bottom-0"
  src="testimonials/bottom-cover.png"
  alt="bg bottom cover"
/>
