<div
  class="max-w-primary flex flex-col relative z-50 justify-center h-full text-white min-h-[500px] sm:min-h-[850px]"
>
  <h1
    class="hero-heading flex flex-col text-[2.5em] sm:text-[3em] md:text-[3.25em] lg:text-[4.25em] md:max-w-1/2 mt-[-20%]"
  >
    <div class="text-[80%] leading-[1.2]">
      {{ "hero.heading" | translate }}
    </div>
    <div class="font-bold text-accent leading-[1.1]">
      {{ "hero.subheading" | translate }}
    </div>
  </h1>

  <div
    class="sm:max-w-1/2 lg:max-w-2/5 text-sm md:text-base lg:text-lg mt-[1.125rem]"
  >
    {{ "hero.description" | translate }}
  </div>

  <div class="mt-[44px] flex items-center gap-2">
    <a href="#landing-services" class="btn btn--accent">{{
      "hero.primaryBtn" | translate
    }}</a>
    <a class="btn" (click)="openCalendly()">{{
      "hero.subheading" | translate
    }}</a>
  </div>
</div>
<div class="hero-bg"></div>
