<div
  class="max-w-primary flex flex-col relative z-50 justify-center h-full text-white min-h-[850px]"
>
  <h1
    class="hero-heading flex flex-col text-[3.5em] md:text-[4em] lg:text-[5.625em] leading-none md:max-w-1/2 mt-[-20%]"
  >
    <div class="text-[#115278] text-[60%]">A Reason</div>
    <div class="font-bold">To Smile</div>
  </h1>

  <div
    class="md:max-w-1/2 lg:max-w-2/5 text-sm md:text-base lg:text-lg mt-[1.125rem]"
  >
    Capitalize on low hanging fruit to identify a ballpark value added activity
    to beta test. Override the digital divide with additional clickthroughs from
    DevOps.
  </div>

  <div class="mt-[44px] flex items-center gap-2">
    <button class="btn btn--primary">View Our Services</button>
    <button class="btn">Customer Testimonials</button>
  </div>
</div>
<div class="hero-bg"></div>
