.doctor-img {
  background-image: url(../../../../public/about-us/vibha-arora.jpg);
  border-radius: 74% 33% 44% 36% / 60% 35% 53% 33%;
  height: 320px;
  background-position: 50% 20%;
  background-size: cover;
  box-shadow: 0 0 7px 2px #f70f8a82;
}
