<div
  class="border-[5px] border-[#f6eeea] rounded-[26px] px-5 mob:px-8 sm:px-12 py-3 mob:py-6 sm:py-10 sm:min-w-96"
>
  <h4 class="text-primary text-2xl">
    {{ "aboutUs.consultDrVibha" | translate }}
  </h4>

  <ng-container *ngTemplateOutlet="divider"></ng-container>

  <div class="flex justify-center flex-col tab:flex-row md:flex-col gap-7">
    <div class="doctor-img mx-auto w-full sm:w-3/5 tab:w-2/5 md:w-full"></div>

    <div class="flex flex-col gap-5">
      <div *ngFor="let info of contactInfo" class="flex gap-4">
        <span
          class="text-5xl p-4 rounded-full transition-all duration-300 bg-[#f3f3f3] text-primary w-fit h-fit"
          attr.data-ico-dentist2="{{ info.icon }}"
        ></span>

        <div class="flex flex-col gap-2 tab:gap-3">
          <h3 class="text-xl tab:text-2xl text-accent">
            {{ "aboutUs.contactInfo." + info.label | translate }}
          </h3>
          <pre
            class="text-sm text-wrap break-words"
            [innerHTML]="'aboutUs.contactInfo.' + info.data | translate"
          ></pre>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-col my-5">
  <p class="text-xl">
    {{ "aboutUs.info.heading" | translate }}
  </p>

  <ng-container *ngTemplateOutlet="divider"></ng-container>

  <div class="flex flex-col sm:flex-row sm:gap-10 sm:text-sm lg:text-base">
    <div class="flex flex-col flex-1 gap-4">
      <p>{{ "aboutUs.info.journeyA" | translate }}</p>
      <p>{{ "aboutUs.info.journeyB" | translate }}</p>
    </div>

    <div class="flex flex-col flex-1 gap-4">
      <p>{{ "aboutUs.info.journeyC" | translate }}</p>
      <p>{{ "aboutUs.info.journeyD" | translate }}</p>
      <p>{{ "aboutUs.info.journeyE" | translate }}</p>
    </div>
  </div>
</div>

<ng-template #divider>
  <div class="w-full h-[1px] my-5 bg-[#ccc]"></div>
</ng-template>
